.navbar
{
    overflow: auto;
    background-color: pink;
    position: relative;
    top: 0;
    width: 100%;
}
.navbar a
{
    float:left;
    display: block;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar a:hover
{
    background: bisque;
    color: black;
}
body
{
    font-size: 18pt;
}
img
{
    width: 64px;
    height: 74px;
    margin: 5px 50px;
}
h1
{
    position: fixed;
    top: 0px;
    right: 50px;
}
.courseInfo
{
    height: 100%;
    width: 180px;
    position: relative;
    top: 0;
    z-index: 1;
    left: 0;
    background-color: #1D476E;
    overflow-x: hidden;
    padding-top: 20px;
}
.courseInfo a
{
    padding: 5px 5px 5px 5px;
    text-decoration: none;
    font-size: 18px;
    color: #ebebe2;
    display: block;
}
#roster, #delete
{
    background-color: #1D476E;
    font-family: "Roboto";
    font-size: 18pt;
    color: #ebebe2;
    padding: 5px;
}

